/* -------------------- CSSは一番下から書き始めてください！ -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


.clear {
  clear:left;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding:0 15px 15px 0px;
}


header {
  height: 80px;
  background-color: black;
  color: white;
}

.header-name {
  font-size:50px;
  line-height: 80px;
}

main {
  text-align: center;
  background-image: url(../img/haikei.png);

}

.btn {
  padding: 50px;
  color: white;
  background-color:rgba(111, 111, 111, 0.7);
  font-size: 50px;
  margin:100px 60px;
  display: inline-block;
}

.btn:hover {
  background-color: rgba(111,111,111, 1);
}

footer {
  height: 70px;
  background-color: black;
}

.footer-name {
  font-size: 30px;
  color: white;
  padding-top:12px
}
